@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

body{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: hsl(0, 0%, 95%);
    color: hsla(0, 0%, 100%, 0.75)
}

main{ display: flex }

main h1{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 35px;
    margin-bottom: 8%
}

main h1, .Learn_more_btn{ color: hsl(0, 0%, 95%); }

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 25px
}

.sedan{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px 10px;
}

.suv{ background-color: hsl(184, 100%, 22%) }

.luxury{
    background-color: hsl(179, 100%, 13%);
    border-bottom-right-radius: 10px 10px
}

.sedan img, .suv img, .luxury img{ width: 27% }

.sedan .Learn_more_btn{ color: hsl(31, 77%, 52%) }
.suv .Learn_more_btn{ color: hsl(184, 100%, 22%) }
.luxury .Learn_more_btn{ color: hsl(179, 100%, 13%) }

.Learn_more_btn:hover{
    transition: .3s ease;
    color: hsl(0, 0%, 95%);
    border: solid;
}

.sedan .Learn_more_btn:hover{ background-color: hsl(31, 77%, 52%) } 
.suv .Learn_more_btn:hover{ background-color: hsl(184, 100%, 22%) }
.luxury .Learn_more_btn:hover{ background-color: hsl(179, 100%, 13%) }

.Learn_more_btn{
    border: none;
    padding: 7%;
    margin-right: 30%;
    border-radius: 30px 30px;
    font-family: 'Lexend Deca', sans-serif
}

footer { 
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color:black;
}

footer a { color: hsl(228, 45%, 44%) }

@media screen and (min-width: 376px){

    main{
        margin-right: 20%;
        margin-left: 20%
    }

    main h1{ margin-top: 20% }

    .card{ padding: 5% }

    .sedan{ border-bottom-left-radius: 10px 10px }
    .luxury{ border-top-right-radius: 10px 10px }

    .description{ padding-bottom: 32% }
}


@media screen and (max-width: 376px){
    main{ 
        flex-direction: column;
        margin-right: 7%;
        margin-left: 7%
    }

    main h1{ margin-top: 17% }

    .card{ padding: 13% }

    .sedan{ border-top-right-radius: 10px 10px }
    .luxury{ border-bottom-left-radius: 10px 10px }

    .description{ padding-bottom: 6% }

    .Learn_more_btn{ margin-bottom: 5% }
}